STACK_NAME=wmw
NGINX_HTTP_PORT=8080

# Dominio publico que sera configurado no Dokploy para esta stack.
SERVER_NAME=wmw.motasa.com.br

# Host e porta da aplicacao na rede interna (nao publica).
APP_UPSTREAM_HOST=10.250.250.3
APP_UPSTREAM_PORT=8081
